<header>
    <h1>OctoGraph Generator</h1>
    <p>Enter a <bold>website</bold> below and the crawler will generate a graph of the links expanding out from the starting point.</p>
    <p>You must choose your <bold>traversal</bold> method and number of <bold>steps</bold> to take from the original URL.</p>
    <p>You may also choose a <bold>keyword</bold>, which will terminate the crawling if it is found.</p>
</header>
<form id="options-form">
    <div class="option">
        <h2>Enter a starting website</h2>
        <span class="input">
            <input type="text" name="website" required>
        </span>
    </div>

    <div class="option">
        <h2>Traversal type</h2>
        <ul class="input">
            <li class="trav-option">
                <input type="radio" name="traversal" id="depth-option" value="depth" required>
                <span class="radio-button"></span>
                <label for="depth-option">Depth-first</label>
            </li>
            <li class="trav-option">
                <input type="radio" name="traversal" id="breadth-option" value="breadth">
                <span class="radio-button"></span>
                <label for="breadth-option">Breadth-first</label>
            </li>
        </ul>
    </div>

    <div class="option">    
        <h2>Number of steps</h2>
        <span class="input" id="range-slider">
            <input type="range" min="1" max="5" value="3" class="slider" name="steps">
            <ul id="slider-labels">
            <li class="slider-label">1
            <li class="slider-label">2
            <li class="slider-label">3
            <li class="slider-label">4
            <li class="slider-label">5
            </ul>
        </span>
    </div>
    
    <div class="option">
        <h2>Keyword (optional)</h2>
        <span class="input">        
            <input type="text" name="keyword">
        </span>
    </div>
</form>
<button id="submit-button" ng-click="go('/results')">Go! <i class="fas fa-angle-double-right"></i></button></div>
